/*Work sample Two*/

h1 {
    text-align: center;
    padding-top: 15px;
	padding-bottom: 25px;
	font-family: "Apple Chancery", cursive;
	color: #C71585;
	max-width: 800px;
	font-size: 45px;
	margin-left: auto;
	margin-right: auto;
}

body {
    margin: 96px;
    padding: 25px;
    background-image: url("Pink Aesthetic Abstract Linktree Background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
	background-size: cover;
}

img {
	border: 8px solid #C71585;
}
  
.top {
    display: flex;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}


.lower_text {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 75px;
	padding-bottom: 75px;
	font-family: "Apple Chancery", cursive;
	font-size: 26px;
}

.upperText{
	font-family: "Apple Chancery", cursive;
	font-size: 26px;
	max-width: 700px;
	padding-left: 50px;
}

.profile_pic {
	padding-left: 75px;
	padding-bottom: 75px;
}

.lower_image {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#styleButton{
	display: block;
	margin: auto;
	border-radius: 12px;
	background-color: #FFC5BB;
	border: none;
	color: white;
	width: 100x;
	font-size: 23px;
	font-family: "Apple Chancery", cursive;
}

